header.row
  .large-8.columns
    img#logo src="<%= image_path 'telvue_logo.png' %>"
  .large-4.columns
    h1 System Status

section.row#page
  outlet

footer.row
  p Copyright 2013 <a href="http://www.telvue.com">TelVue Corporation</a>. All Rights Reserved.
