body {
  background: #eee;

  a {
    &:hover {
      text-decoration: underline;
      color: darken($primary-color, 10%);
    }
  }
}

header {
  img {
    margin-top: 6px;
  }
}

section#page {
  background: #fff;
  min-height: 600px;
}

footer {
  p {
    margin-top: 10px;
    font-size: 10pt;
    text-align: center;
    color: darken(#ccc, 10%);

    a {
      color: darken(#ccc, 20%);

      &:hover {
        color: darken(#ccc, 30%);
      }
    }
  }
}
